# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# testing /Coverage reports
/coverage

# production /Build output
/build
/dist
/dist-ssr

# Miscellaneous
.DS_Store
*.local

# Environment variables
.env
.env.*
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
!.env.example  # Исключает шаблонный файл .env.example, если такой есть

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor-specific directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.sublime-project
.sublime-workspace
.project
.classpath
.settings/

# System files
Thumbs.db

# Cache files
.eslintcache
.cache/

# Docker
docker-compose.override.yml
.docker/

# Testing
.nyc_output/
.next/

# SSH Keys
*.pem
*.key
