.myButton {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(183, 183, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  
  /* стили сработают при наведении мышкой на кнопку */
  .myButton:hover {
    background-color: rgb(223, 223, 252);
  }
  
  /* стили сработают при нажатии на кнопку */
  .myButton:active {
    background-color: rgb(29, 29, 94);
    color: white;
  }