
.loginButton button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .loginWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .loginWindowContent {
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.9); */
    border-radius: 10px;
    max-width: 800px;
    height: 400px;
    width: 100%;
    
  }

/* Стиль кнопки закрытия */
.closeButton {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
font-size: 12px;
cursor: pointer;
z-index: 10;
width: 20px;
}

.closeButton:hover {
  color: var(--primary-color);
}

.loginWindowContent button:hover {
   color: #7531da;   /*Цвет при наведении */
}

  /* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .loginWindowContent {
    animation: fadeIn 1s ease-in-out;
  } */