.myButton {
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--background-color); /* Используем общий фон */
    border: 1px solid var(--primary-color); /* Легкая граница для выделения */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.1s ease-in-out;
    width: 130px;
  }
  
  /* стили сработают при наведении мышкой на кнопку */
  .myButton:hover {
    background-color: var(--primary-color);
  }
  
  /* стили сработают при нажатии на кнопку */
  .myButton:active {
    background-color: #1d1d5e;
    color: white;
    transform: scale(0.98); /* Легкое сжатие при нажатии для эффекта нажатия */
  }