@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Yeseva+One&display=swap');

.articlesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Гибкая сетка */
  gap: 40px;
  padding: 20px;
  width: 1100px;
  margin-top: 30px;
}

.mainArticlesTitle h2 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "Yeseva One", serif;
  margin-left: 23px;
  margin-top: 50px;

}

.articleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 40px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 350px;
  height: 450px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

.articleBox:hover {
  transform: translateY(-10px);
  /* Плавное поднятие карточки при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #F4F0EC;
  border: 1px solid #007bff;

}

.boxInBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.articleImage {
  background-size: cover;
  /* Подгонка фона под размер блока */
  background-position: center;
  color: rgb(46, 46, 46);
  /* Цвет текста внутри блока */
  border-radius: 40px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.articleBackground {
  margin-top: 10px;
  width: 280px;
}

.articleTitle {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Yeseva One", serif;
  line-height: 1.2;
  overflow: hidden;
  /* Скрываем текст, если он выходит за границы */
  text-overflow: ellipsis;
  /* Добавляем многоточие, если текст слишком длинный */
  max-width: 100%;
}

/* .shortDescription {
    font-size: 1rem;
    color: #555555d3;
    margin-bottom: 15px;
  }
  
  .authAction {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .authAction p{
    font-size: 10px;
  } */
/* Vector */



.readMoreWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  opacity: 0;
  /* Скрыто по умолчанию */
  transform: translateX(-30px);
  /* Начальная позиция для плавного появления */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Плавное появление */
  margin-top: auto;
  /* Позиционируем блок внизу */
  width: 100%;
  position: absolute;
  bottom: 15px;
  margin-left: 35px;
}


.articleBox:hover .readMoreWrapper {
  opacity: 1;
  /* Показываем при наведении */
  transform: translateX(0);
  /* Двигаем в нормальное положение */
}

.readMoreWrapper span {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  /* Отступ между текстом и кнопкой */
  transition: transform 0.5s ease;

}

.readMoreLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  overflow: hidden;
  padding: 10px;

}

.readMoreLink:hover .arrowIcon {
  transform: translateX(5px);
}

.readMoreLink:hover {
  background-color: #ffffff;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  /* Размер стрелки */
  transition: transform 0.3s ease;
  /* Добавляем плавную анимацию */

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  /* Отступ снизу (по желанию) */
  position: relative;
  /* Позиционирование относительно родителя */
  width: 100%;
}

.pageButton {
  border: none;
  background-color: #007bff88;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40px;
}

.pageButton:hover {
  background-color: #0057b394;
}

.active {
  background-color: #0057b3bc;
  font-weight: bold;
}

/*---------------*/


.authAction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  margin-left: 35px;
  gap: 10px;
  margin-top: auto;
  transform: translateX(-30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.articleBox:hover .authAction {
  opacity: 1;
  /* Показываем при наведении */
  transform: translateX(0);
  /* Двигаем в нормальное положение */
}

.authAction span {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
}

.buttonRight {
  height: 45px;
  width: 70px;
  overflow: hidden;
  padding: 10px;
  margin-right: 30px;
  border-radius: 30px;
}



/*-----*/


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Затемняющий фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Обеспечиваем, что модальное окно будет поверх всех элементов */
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  /* Ширина модального окна */
}



/*---------- Latest Article--------*/


.latestArticle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1100px;
  padding: 20px;
}

.latestArticle h2 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "Yeseva One", serif;
  /* margin-left: 23px; */
  margin-bottom: 30px;
}

.latestArticleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latestArticleImage {
  background-size: cover;
  /* Подгонка фона под размер блока */
  background-position: center;
  color: rgb(46, 46, 46);
  /* Цвет текста внутри блока */
  border-radius: 40px;
  width: 100%;
  height: 415px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latestArticleTitle {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Yeseva One", serif;
  line-height: 1.2;
  overflow: hidden;
  /* Скрываем текст, если он выходит за границы */
  text-overflow: ellipsis;
  /* Добавляем многоточие, если текст слишком длинный */
  max-width: 80%;
  margin-bottom: 30px;
}

.latestArticleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 40px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 1080px;
  height: 450px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

.latestArticleBox:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #d6d6d6b2;
  border: 1px solid #007bff;

}

.latestBoxInBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  ;
  height: auto;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}



.latestReadMoreLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  overflow: hidden;
  padding: 10px;

}

.latestReadMoreLink:hover .arrowIcon {
  transform: translateX(5px);
}

.latestReadMoreLink:hover {
  background-color: #ffffff;
}



.latestReadMoreWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  transform: translateX(-30px);
  /* Начальная позиция для плавного появления */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Плавное появление */
  margin-top: auto;
  /* Позиционируем блок внизу */
  width: 1000px;
  position: absolute;
  bottom: 15px;
  margin-left: 35px;
  overflow: hidden;
}


.latestArticleBox:hover .latestReadMoreWrapper {
  transform: translateX(0);
  /* Двигаем в нормальное положение */
}

.latestReadMoreWrapper span {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  /* Отступ между текстом и кнопкой */
  transition: transform 0.5s ease;

}


.latestShortDescription {
  overflow: hidden;
  /* Обрезаем текст, если он выходит за пределы блока */
  text-overflow: ellipsis;
  /* Добавляем многоточие, если текст не помещается */
  display: -webkit-box;
  /* Для создания блока с обрезкой текста */
  -webkit-line-clamp: 10;
  /* Показываем только 3 строки */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация блока */
  white-space: normal;
  /* Обычный перенос текста */
  margin-top: 10px;
  font-size: 1rem;
  /* Настраиваем размер шрифта */
  color: #555;
  /* Цвет текста */
  width: 80%;
  line-height: 1.4;
  text-decoration: none;
  align-items: start;
  justify-content: start;
  background-color: transparent !important;
}

.latestShortDescription:hover {
  background-color: transparent !important;
  color: inherit;
}