/* обертка над всеми тегами */
.page {
  display: flex;
  flex-direction: column;
  /* 100 относительных единиц */
  /* высчитываются от видимой области по высоте */
  min-height: 200vh;
}

.main {
  /* чтобы main занимал все свободное место если контента мало */
  padding: 20px 0;
  width: 100%;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}