/* обертка над всеми тегами */
.page {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  width: 100%;

}

.main {
  /* чтобы main занимал все свободное место если контента мало */
  width: 100%;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.iconProfile {
  position: fixed;
  bottom: 56px;
  right: 56px;
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 500px;
  background-color: #6788f3;
  color: #ffffff;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: profileAnimate 1500ms ease infinite;
  transition: all ease 2s;
  z-index: 2;
}

.iconProfile:hover {
  text-decoration: none;
  transform: scale(1.5);
  animation: none;
}

@keyframes profileAnimate {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
}