.aboutContainer {
    position: relative;
    padding-top: 0%;
    background-color: rgb(255, 255, 255);
}

.background {
    background-image: url('https://img.freepik.com/free-photo/3d-abstract-plexus-background_1048-8113.jpg?t=st=1727721405~exp=1727725005~hmac=b3af2d69100d51b84a902dfc4428a2379459f64393ed246ffb15729fb2a2a483&w=1800');
    /* Замените на путь к вашему изображению */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
}

.scrollButton {
    background: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    /* Или любой другой цвет для стрелки */
    position: absolute;
    bottom: 300px;
    /* Расположите кнопку по желанию */
    left: 50%;
    /* Центрируем кнопку */
    transform: translateX(-50%);
    /* Центрируем кнопку по горизонтали */
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0005);
    box-shadow: 0 0 0px #dcf403, 0 0 10px #e9af3b9f, 0 0 25px #dcf403, 0 0 100px #dcf403;
    z-index: 10;
    animation: glow 3s infinite;
    width: 100px;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 0px #03e9f4;
    }

    50% {
        box-shadow: 0 0 30px #e9af3b9f;
    }

    100% {
        box-shadow: 0 0 0px #03e9f4;
    }
}


.ourDevelopers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 50px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.background h1 {
    margin-top: -300px;
    font-size: 50px;
    color: rgba(221, 238, 250, 0.878);
    display: flex;
    flex-direction: row;
    text-decoration:overline underline;
}

.category {
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    /* Располагаем элементы в колонку */
    align-items: center;
    width: 23%;

}

.categoryTitle {
    font-size: 18px;
    /* align-items: center; */
    /* justify-content:center; */
    font-weight: bold;
    /* text-align:justify; */
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px));
    gap: 20px;
    justify-content: center;
}

.card {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 7px;
    cursor: pointer;
    perspective: 500px;
    transition: transform 0.1s ease;

}

.card:hover {
    transform: scale(1.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.reflection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.1));
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.card:hover .reflection {
    opacity: 0;
    /* Появление отражения при наведении */
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%);
    transition: filter 0.3s ease;
    border-radius: 7px;
    z-index: 1;
}

.card:hover .img {
    filter: grayscale(0%);
}

.caption {
    position: absolute;
    /* Абсолютное позиционирование */
    bottom: 10px;
    /* Положение подписи по вертикали снизу */
    left: 50%;
    /* Центрирование по горизонтали */
    width: 130px;
    transform: translateX(-50%);
    /* Смещаем на 50% для точного центрирования */
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    /* Добавим отступы для удобства чтения */
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.card:hover .caption {
    opacity: 1;
}