.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* затемняющий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modalBody {
    margin: 20px 0;
  }
  
  .modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .modalButtonCancel {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modalButtonConfirm {
    background-color: #d9534f;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modalButtonConfirm:hover {
    background-color: #c9302c;
  }
  
  .modalButtonCancel:hover {
    background-color: #999;
  }
  
