.App {
  text-align: center;
  /* padding: 20px; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  transition: color 0.3s;
}

.App-link:hover {
  color: #21a1f1; /* Немного темнее цвет при наведении */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Удален .App-logo, так как он не используется */
