:root {
  --primary-color: #6788f3; /* Основной синий цвет */
  --active-color: #5b7ff5; /* Более насыщенный синий цвет для активной ссылки */
  --text-color: #333; /* Цвет текста */
  --bg-color: #ffffff; /* Белый фон */
  --hover-color: #5278f7; /* Темно-синий цвет при наведении */
  --border-color: #ddd; /* Цвет для границ */
}

.header {
  display: flex;
  align-items: center; /* Центрирует элементы по вертикали */
  justify-content: space-between; /* Разделяет элементы по сторонам */
  padding: 10px 5%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 70px;
  box-sizing: border-box; /* Включает padding и border в ширину */
  position: fixed; /* Убедись, что элемент фиксирован, если это нужно */
  top: 0; /* Чтобы header находился вверху страницы */
  left: 0; /* Чтобы header начинался с левого края */
  z-index: 1000;
  flex-wrap: nowrap; /* Предотвращает перенос элементов на новые строки */
}

.logo {
  height: 200px;
  width: auto;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  margin-right: 20px; /* Отступ между логотипом и меню */
}

.hamburger {
  display: none; /* Скрываем гамбургер на больших экранах */
  font-size: 30px;
  cursor: pointer;
}

.navMenu {
  display: flex;
  /* gap: 20px; */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Разделение на лево и право */
  width: 100%; /* Растягивание на всю ширину */
}

.navLeft, .navRight {
  display: flex;
  align-items: center; 
  box-sizing: border-box;
  gap: 20px;
  padding: 10px;
  white-space: nowrap; /* Предотвращает перенос ссылок меню на новые строки */
}
  
.navLinkContainer {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, font-weight 0.3s;
  cursor: pointer;
}
  
.navLinkContainer:hover {
  color: var(--primary-color);
}

.active {
  text-decoration: underline; 
  color: var(--active-color); /* Более насыщенный оттенок синего */
  font-weight: 600; /* Жирный текст */
  text-decoration: none !important; /* Убираем подчеркивание полностью */
}
  
.userInfo {
  display: flex;
  align-items: center;
  gap:10px;
}
  
.userName {
  font-size: 16px;
  color: #932727;
  /* margin-left: 10px; */
  cursor: pointer;
}
  
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s;
}

/* Стили для выпадающего меню категорий */
.categoryMenu {
  position: absolute;
  top: 50px; /* Положение под хедером */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: opacity 0.2s ease-in-out; /* Плавное исчезновение */
  z-index: 1000;
  opacity: 1; /* Обеспечиваем видимость */
  max-height: 300px; /* Ограничиваем высоту */
  overflow-y: auto; /* Добавляем прокрутку при необходимости */
}

.categoryMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

.categoryMenu li:hover {
  background-color: #f0f0f0;
}

.categoryLink a{
  font-size: 0px;
}

.navLink{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* Бургер-меню для маленьких экранов */
.burgerMenu {
  display: none;
  flex-direction: column;
  background-color: var(--bg-color);
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

.burgerMenu .navLink {
  padding: 10px 0;
}

/* Адаптив для мобильных устройств (до 768px) */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    width: 50px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    height: 5px; /* Размер полосок */
    width: 100%;
    background: #5b7ff5;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .hamburger span:nth-child(1) {
    top: 5px; /* Первая полоска вверху */
  }
  
  .hamburger span:nth-child(2) {
    top: 18px; /* Вторая полоска по центру */
  }

  .hamburger span:nth-child(3) {
    top: 18px;
  }

  .hamburger span:nth-child(4) {
    top: 30px;
  }
  
  /* Анимация при открытии меню */
.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Класс для эффекта blur, когда меню открыто */
.blurEffect {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
  pointer-events: none; /* Отключаем взаимодействие с контентом, пока меню открыто */
  opacity: 0.8;
}
  
  .navLeft {
    display: none; /* Скрываем обычное меню на маленьких экранах */
  }

  .logo {
    display: none;
  }

  /* Кнопки "Поиск" и "Войти" остаются видимыми */
 .navRight {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: auto;
    gap: 20px;
  }

  .avatar {
    display: none; /* Скрываем аватарку на маленьких экранах */
  }
  
  .burgerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg-color);
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 70px); Меню занимает оставшуюся часть экрана */
    z-index: 1000;
    overflow-y: auto; /* Если ссылок слишком много, появляется скролл */
  }

  .categoryMenu {
      display: none;
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .burgerLink {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .burgerLink .arrow {
    margin-left: auto;
    font-size: 12px;
    transition: transform 0.3s ease;
  }
  
  .burgerLink:hover .arrow {
    transform: rotate(180deg);
  }
  
  .burgerMenu.open .categoryMenu {
    display: block;
  }
  
  .burgerMenu .categoryMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .burgerMenu .categoryMenu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .burgerMenu .categoryMenu li:hover {
    background-color: #f0f0f0;
  }

  .navLinkContainer {
    padding: 10px 0;
  }

  .navLinkContainer:hover .categoryMenu {
    display: block; /* Показываем меню при наведении на блок */
  }
  
  .navLink {
    /* padding: 10px 20px;
    text-align: left; */
    font-size: 20px;
    padding: 10px 0;
  }


  /* .buttonLogout, .buttonLogin {
    display: flex;
    align-items: center;
    gap: 10px;
  } */
}

/* Адаптив для экранов ниже 768px */
/* @media (max-width: 768px) {
  .navMenu.open {
    display: block; 
  }

  .navLink {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }

  .navMenu {
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
  }
} */

  /*-------------------*/
