:root {
  --primary-color: #6788f3; /* Основной синий цвет */
  --active-color: #5b7ff5; /* Более насыщенный синий цвет для активной ссылки */
  --text-color: #333; /* Цвет текста */
  --bg-color: #ffffff; /* Белый фон */
  --hover-color: #5278f7; /* Темно-синий цвет при наведении */
  --border-color: #ddd; /* Цвет для границ */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 70px;
  box-sizing: border-box; /* Включает padding и border в ширину */
  position: fixed; /* Убедись, что элемент фиксирован, если это нужно */
  top: 0; /* Чтобы header находился вверху страницы */
  left: 0; /* Чтобы header начинался с левого края */
  z-index: 1000;
}

/* .content {
  padding-top: 60px;  Добавляем отступ, равный высоте хедера 
} */

/* .header > a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
} */

/* .header > span {
    color: rgb(104, 50, 251);
    margin-right: 20px;
}

.header > a:hover {
    text-decoration: underline;
} */

.navMenu {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Разделение на лево и право */
  width: 100%; 
  }

  .navLeft, .navRight {
    display: flex;
    align-items: center; 
    box-sizing: border-box; 
    gap: 20px;
  }

  .navLinkContainer {
    color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, font-weight 0.3s;
  }
  
  .navLinkContainer:hover {
    color: var(--primary-color);
  }

.active {
    text-decoration: underline; 
    color: var(--active-color); /* Более насыщенный оттенок синего */
    font-weight: 600; /* Жирный текст */
    text-decoration: none !important; /* Убираем подчеркивание полностью */
}


.userInfo {
  display: flex;
  align-items: center;
  gap:10px;
}

.userName {
  font-size: 16px;
  color: #932727;
  /* margin-left: 10px; */
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;}


  /*-------------------*/


  /* Стили для выпадающего меню категорий */
.categoryMenu {
  position: absolute;
  top: 50px; /* Положение под хедером */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: opacity 0.2s ease-in-out; /* Плавное исчезновение */
  z-index: 1000;
}

.categoryMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryMenu li {
  padding: 8px 12px;
  cursor: pointer;
  
}

.categoryMenu li:hover {
  background-color: #f0f0f0;
}

.categoryLink a{
  font-size: 0px;
}
.navLink{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s;
}