.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.articleContainer {
  /* list-style-type: none; */
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.articleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.articleItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.actionButtons {
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
}

.editButton, .deleteButton {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.editButton {
  background-color: #ffc107;
  color: #fff;
}

.editButton:hover {
  background-color: #e0a800;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
}

.deleteButton:hover {
  background-color: #c82333;
}


.articleList {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.articleList h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.articleList ul {
  list-style-type: none;
  padding: 0;
}

.articleList li {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column; /* Ставим колонки, чтобы модальное окно появлялось под статьей */
}

.articleList li:hover {
  background-color: #f9f9f9;
}

.articleList strong {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.articleList .buttonGroup {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.articleList .button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.articleList .button:hover {
  background-color: #007bff;
  color: white;
}

.articleList .button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}

.articleList .button:nth-child(2):hover {
  background-color: #c82333;
}

.modalContainer {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 100%; /* Модальное окно будет растягиваться на всю ширину статьи */
}

.modalContainer p {
  margin: 0;
}

.modalButtons {
  display: flex;
  justify-content: flex-start; /* Кнопки выстраиваются в одну строку слева */
  gap: 10px;
  margin-top: 10px;
}

.modalButtons .button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtons .button:hover {
  background-color: #e0e0e0;
}

/* Стили для пагинации */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  background-color: white;
  color: #0b1015;
  border: 1px solid #007bff;
  border-radius: 50%; /* Круглая форма */
  width: 35px; /* Устанавливаем фиксированную ширину */
  height: 35px; /* Устанавливаем фиксированную высоту */
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  font-size: 16px; /* Размер шрифта для цифр */
}

.pageButton:hover {
  background-color: #007bff;
  color: white;
}

.arrowButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  width: 30px; /* Устанавливаем фиксированную ширину для стрелок */
  height: 30px; /* Устанавливаем фиксированную высоту для стрелок */
  margin: 0 5px; /* Отступ между стрелками и номерами страниц */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* Используем flexbox для центрирования текста */
  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  font-size: 14px; /* Размер шрифта для стрелок */
}

.arrowButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.active {
  background-color: #4498f2;
  color: white;
}

.ellipsis {
  margin: 0 5px;
}
