
.articles {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.articles h3 {
  text-align: center;
  color: #333;
}

.articles .createButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #007bff;
    color: #fff;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.articles .createButton:hover {
  background-color: #0056b3;
}


.error-message {
  color: red;
  text-align: center;
}

