.createButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #007bff;
    color: #fff;
    width: 400px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.categoryList {
    /* list-style-type: none; */
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.categoryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categoryItem:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.categoryName {
    font-size: 18px;
    color: #333;
  }
  

.actionButtons {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
}

.viewLink:hover {
    background-color: #007bff;
    color: #fff;
  }

  .editButton, .deleteButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .editButton {
    background-color: #ffc107;
    color: #fff;
  }
  
  .editButton:hover {
    background-color: #e0a800;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }

.modal,
.modalDelete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 300px; /* Ширина модального окна */
    text-align: center; /* Центрируем текст внутри модального окна */
}

.modal h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.modal input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Цвет кнопки */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавный переход цвета */
}

.button:hover {
    background-color: #0056b3; /* Темнее при наведении */
    transform: translateY(-2px); /* Легкий подъем при наведении */
}

.button:active {
    transform: translateY(0); /* Возвращаем к исходному положению */
}

.modalDelete h2 {
    color: #d9534f; /* Красный цвет для заголовка модального окна удаления */
}

.modalDelete .button {
    background-color: #d9534f; /* Красный цвет кнопки удаления */
}

.modalDelete .button:hover {
    background-color: #c9302c; /* Темнее при наведении на кнопку удаления */
}
