.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-image: #fff;
  color: #0b09a2;
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #0b09a2;
  padding: 0 15px;
  transition: background-color 0.5s, opacity 0.5s; /* Плавные переходы для фона и прозрачности */
  opacity: 0.5; /* Начальная прозрачность */
  max-width: 600px;
}

.search.expanded {
  opacity: 0.6; /* Полная непрозрачность при развернутом состоянии */
  background-image: #fff; /* Яркий фон при развернутом состоянии */
  color: #0b09a2;
}

input.expanded{
  color: #0b09a2;
}

.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.searchInput {
  width: 0;
  transition: width 0.5s;
}

.searchSelect{
  width: 0;
  transition: width 0.5s;
}

.searchButton {
  display: flex;
  place-items: center;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: color 0.25s;
  background: transparent;
}

.searchButton:hover {
  color: #0b09a2;
}

.search:focus-within .searchInput {
  width: 150px;
}

.search:focus-within .searchSelect {
  width: 110px;
}


input::placeholder {
  font: inherit;
  color: #0b09a2;
}

.search select {
  border: none; 
  background: transparent; 
  color: inherit; 
  margin-right: 10px; 
}


.searchWrapper {
  display: flex;
  overflow: hidden;
  height: 30px; 
  border-radius: 50%;
}

.errorText {
  color: red;
  font-size: 17px;
}

.resultsContainer {
  margin-top: 20px;
}

.resultItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.resultItem h4 {
  margin: 0;
  font-size: 16px;
}

.resultItem p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

.searchIcon {
  display: flex;
align-items: center;
}

.searchSelect:hover {
  background-color: #84abf8;
  border-color: #9fc3f2; /* Цвет границы при наведении */
  border-radius: 40px;
}

input:hover {
  background-color: #84abf8; /* Цвет фона при наведении */ 
  border-color: #9fc3f2; /* Цвет границы при наведении */
  border-radius: 40px; /* Радиус границ при наведении */
}




