.search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  border: 2px solid #00000023;
  transition: all 0.3s ease;
  /* opacity: 0.8; */
  max-width: 400px;
  height: 40px;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

.separator {
  width: 1px; 
  background-color: #00000023; 
  height: 20px;
}

.search_container:hover {
  background-color: #00000023;
  box-sizing: border-box;

}

.search_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 40px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.3s ease, border 0.3s ease;
  box-sizing: border-box;
  padding: 5px;

}

.search_input_wrapper:hover {
  background-color: #ffffffb2;
  box-sizing: border-box;
  border-radius: 40px;
  height: 38px;
}


.search_input_wrapper:focus {
  border: solid #007bff;
  border-radius: 40px;
  box-sizing: border-box;
}

.search_input_wrapper:focus-within {
  border: solid #007bff;
  border-radius: 40px;
  height: 40px;
  box-sizing: border-box;
}


.search_input {
  border: transparent;
  outline: none;
  transition: width 0.3s ease;
  background-color: transparent;
  height: 40px;
  box-sizing: border-box;
  width: 180px;
  padding: 10px;
}




.search_button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.icon_search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.category_container {
  position: relative;
  box-sizing: border-box;
}


.select_categories {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 10px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  /* border: 2px transparent; */
  outline: none;
  border-radius: 40px;
  transition: background-color 0.3s ease, border 0.3s ease;
  height: 35px;
  box-sizing: border-box;
}

.select_categories:hover {
  background-color: #ffffffb2;
  border-radius: 40px;
  box-sizing: border-box;

}

.select_categories:focus {
  border:  solid #007bff;
  border-radius: 40px;
  box-sizing: border-box;

}

input::placeholder {
  font: inherit;
  color: #00000090;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;

}

.select_categories option {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#007bff;
  color: inherit;
  margin-top: 200px;
}


.errorText {
  color: red;
  font-size: 17px;
}

.resultsContainer {
  margin-top: 20px;
}

.resultItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.resultItem h4 {
  margin: 0;
  font-size: 16px;
}

.resultItem p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}