
.loginForm {
    display: flex;
    flex-direction: column;
  
  }

  
  .loginForm > input {
    margin-bottom: 3px;
    
  }
  
  .loginForm > button {
    /* background-color: rgb(163, 192, 255); */
    border: none;
  }
  
  
  .inputError {
    border: 1px solid red;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .p{
    font-size: 10px;
  }