/* Контейнер для формы */
.authContainer {
  display: flex;
  width: 100%;
  max-width: 800px;
  /*Максимальная ширина окна */
  margin: 0 auto;
  /* padding: 20px; */
  /* background-color: #fdfdfd; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  background-color: transparent;
  background-image: url('https://img.freepik.com/free-photo/ethereal-environment-with-cloth_23-2151113627.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
}




/* Стили для каждой секции (логин и регистрация) */
.authSectionLog {
  width: 50%;
  /* Ширина каждой секции составляет примерно половину */
  padding: 20px;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Заголовки секций */
.authSectionLog h2 {
  text-align: center;
  margin-bottom: 0px;
}

.authSectionLog p {
  text-align: center;
  margin-bottom: 30px;
}

.authSectionLog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.authSectionLog input {
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

}

.authSectionLog button {
  margin: 0 auto;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px dashed transparent;
  border-radius: 30px;
  width: 180px;
  cursor: pointer;
}

.authSectionLog button:hover {
  background-color: #45a049;
  border: 1px dashed #1d1d5e;
}

.authSectionLog button:active {
  background-color: #76a7d5;
}

.authSectionLog button:disabled {
  background: linear-gradient(145deg, #d3d3d3, #e0e0e0);
  /* Subtle background change */
  box-shadow: 3px 3px 6px #a9a9a9, -3px -3px 6px #ffffff;
  /*Subtle shadow change */
  color: #999;
  cursor: not-allowed;
}

.authSectionLog:hover {
  /* cursor: pointer; */
  background-color: #ffffff85;

}

.authSectionSign {
  width: 50%;
  padding: 20px;
  /* background-color: rgb(239, 239, 239); */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.authSectionSign h2 {
  text-align: center;
  margin-bottom: 0px;
}

.authSectionSign p {
  text-align: center;
  margin-bottom: 20px;
}


.authSectionSign form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

}

.authSectionSign input {
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  background-color: #e8e8e8a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.authSectionSign button {
  margin: 0 auto;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px dashed transparent;
  border-radius: 30px;
  width: 180px;
  cursor: pointer;
}

.authSectionSign button:hover {
  background-color: #45a049;
  border: 1px dashed #1d1d5e;
}

.authSectionSign button:active {
  background-color: #76a7d5;
}

.authSectionSign button:disabled {
  background: linear-gradient(145deg, #d3d3d3, #e0e0e0);
  /* Subtle background change */
  box-shadow: 3px 3px 6px #a9a9a9, -3px -3px 6px #ffffff;
  /*Subtle shadow change */
  color: #999;
  cursor: not-allowed;
}


.authSectionSign:hover {
  /* cursor: pointer; */
  background-color: #ffffff82;
}




/* -------------------- */



.authSectionLog,
.authSectionSign {
  width: 50%;
  height: 100%;
  position: absolute;
  transition: transform 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f049;
  z-index: 1;
}

.authSectionLog {
  /* left: 0; */
  right: 0;
  transform: translateX(0);
}

.showLogin {
  transform: translateX(-100%);
}

.authSectionSign {
  left: 50%;
  transform: translateX(0);
}


.showRegistration {
  transform: translateX(-100%);
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1725832062946-2ec9aae5c4e2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMDl8fHxlbnwwfHx8fHw%3D');
  background-color: #007bff;
  color: rgb(255, 255, 255);
  transition: left 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
z-index: 2;
}


.rightPanelActive {
  left: 0;
}

.overlay {
  text-align: center;
}

.overlayContent h2 {
  font-size: 28px;
}

.overlayContent p {
  font-size: 16px;
  margin: 10px 0;
  width: 320px;
}

button {
  background-color: white;
  color: #007bff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 200px;
}


.socialLogin {
  margin-top: 20px;
}

.socialIcons {
  display: flex;
  gap: 30px;
  padding: 10px;
  margin: 0px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.icon:hover {
  color: #007bff;
}