@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили для всего приложения */
* {
  box-sizing: border-box; /*Учитывает padding и border в общую ширину элемента*/
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden; 
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* Светлый фон для всей страницы */
  color: #212529; /* Основной цвет текста */
  line-height: 1.6;
 
}

a {
  color: inherit; /* Наследует цвет от родителя */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #007bff; /* Цвет ссылок при наведении */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  font-family: inherit; /* Наследует шрифт от родителя */
  /* cursor: pointer;  Указатель мыши меняется на указатель  */
  border: none;
  background: none;
}

ul,
ol {
  list-style: none; /* Убирает маркеры у списков */
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}