.inputError {
    border: 1px solid red;
    
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    padding: 0;
  }

  .passwordContainer {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
